<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='style.css') }}">
    <title>{% block title%}{% endblock %}</title>
  </head>
  <body>
    <div class="container-fluid nav-section">
        <div class="row nav-style">
             <div class="col-md-6 nav-logo">
                 <img src="/static/logo.jpg" class="navlogo-img"> <h1 style="font-size:35px;" class="nav-caption"><strong>CS Community Library</strong></h1>
             </div>

              <div class="col-md-6 nav-link">
                <ul class="nav-link-ul">
                    <li class="nav-link-list"><a class ="first" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-link-k=list"><a class ="last" href="#">View Books</a></li>
                    <li class="nav-link-list"><a class ="last" href="#">About us</a></li>
                    <li class="nav-link-list"><a class ="last" href="#">Contact us</a></li>
                </ul>
             </div>
        </div>
    </div>


        {% block content %}
        {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
