{% extends "base.html" %}

{% block title%}Confirmation{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for ('static', filename='receipt_style.css') }}">
        <div class="conf-modal center success">
  <div class="title-icon">
    <font color = #ffa502><span style='font-size:25px;'>&#10004;&#65039</span></font color = #ffa502>
  </div>
  <div class="title-text"><h1> Book Confirmation!</h1></div>
  <p>Title: "{{title}}" <br>
    Author: "{{author}}"<br>
    Year of Publication: {{year}} <br>
          ISBN: {{isbn}}<br>
          # of Copies: {{quantity}}
          <br><br>Thank you for using the coffee shop library!</br></p>

</div>
{% endblock %}
